.title-style{
color: #339710;
font-size: 100px;
}

.para-style{
    /* font-size: 18px; */
    font-family: 'Inter';
}
@media(max-width: 768px){
    .align{
        text-align: center;
    }
}


.font{
    font-family: 'mussa';
    Font-style: 'SemiBold';
    font-weight: bold;
}

@media(max-width: 768px) {
    .btn{
    display: flex;
    justify-content: center;
    }
}
.button-style{
    padding: 10px 70px;
    background-color: #DDA619;
    font-size: 18px;
    color: white;
    border: none;
    height: 65px;
    width: 250px;
    margin-top: 40px;

}

.line{
    text-decoration: underline;
}



.piza{
    position: absolute;
    top: 45px;
    left:  -60px;
}

.Chicken{
    position: absolute;
    bottom: -120px;
    right: 120px;
}
.Line-first{
    position: absolute;
    top: -15px;
    right: 110px;
}

.line-two{
    position: absolute;
    left:-50px;
    top: 170px;
}
.line-three{
    position: absolute;
    top: 80px;
    right: -50px;
}


.margin{
    padding: 0 0 0 100px;
}


.dots-position{
    position: absolute;
    top: 65%;
    left: 70%; 
}

.span-padding{
    padding: 0 0 0 20px;
}

.john{
Font-family: 'Recoleta';
Font-style: SemiBold;
Font-size: 18px;
color: #339710;
}

.card-bg{
    background-color: rgba(51, 151, 16, 0.1);
    border-radius: 25px;
    padding: 50px 0px;
}

.card-last{
    background-color:  #E3F5DF;
}

.nav-padding{
    padding-left: 300px; 
}

.cards{
    Font-family: 'Recoleta';
    Font-style: SemiBold;
    Font-size: 35px;
    color:black;
    }
.cards-padding{
    padding: 80px 0;
}
.big-line{
    width: 100%;
    
}
.line-four{
    position: absolute;
    left: 180px;
    bottom:-135px;
}
.padding-right{
    padding-right   : 90px;
}
.line-six{
    position: absolute;
    right: 400px;
    bottom: -150px;
}
.green{
    margin-top: -70px !important;
}
.btn-last{
        border: none;
        background-color: #DDA619;
        height: 60px;
        width: 60px;
}
.font-size-36{
    font-size: 36px;
}
.font-size-18{
    font-size: 18px;
}
.e-mail-box{
    height:60px ;
}
.home-color{
    color: #339710;
    text-decoration-color: #339710;
}

.rotate-txt{
    transform: rotate(-90deg);
    position:relative;
    left: 350px;
    top:-465px;

}
.rotate-img{
    transform: rotate(90deg);
}
 .frize{
    color: #339710;
    text-decoration: underline;
    font-family: 'mussa';
    Font-style: 'SemiBold';
    font-weight: bold;

}